.app-layout {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    min-height: 100svh;
}

nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: #fafafa;
    border-bottom: 2px solid #ddd;
}

nav button {
    border-radius: 8px;
}

main {
    padding: 16px;
}

.logo {
    color: black;
    font-family: monospace;
    font-weight: 500;
    line-height: 1rem;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 0 8px;
}

.logo > svg {
    height: 16px;
    width: auto;
}

.logo > div {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid #ddd;
}


h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 16px;
    display: flex;
    gap: 4px;
    align-items: center;
}

h5 {
    font-size: 0.9rem;
    color: #777;
    font-weight: 400;
}

hr {
    border: 0px;
    height: 1px;
    background-color: #eee;
}