.auth-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

form {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 16px;
    display: flex;
    gap: 4px;
    align-items: center;
}

h5 {
    font-size: 1rem;
    color: #777;
    font-weight: 400;
}

hr {
    border: 0px;
    height: 1px;
    background-color: #eee;
}