.form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    font-size: 14px;
    font-weight: 400;
}

input {
    padding: 10px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
    outline-style: none;
    box-shadow: 0px 2px 1px #eee;
    transition: all ease-in-out 0.1s;
}

input:focus-visible {
    border-color: #aaa;
    box-shadow: oklab(0.700 0 0 / 0.5) 0px 0px 0px 3px;
}

input:has(+ .form-error) {
    border-color: rgba(230, 0, 20, 0.6);
}

input:has(+ .form-error):focus-visible {
    box-shadow: rgba(230, 0, 20, 0.3) 0px 0px 0px 3px;
}

button {
    padding: 12px 12px;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 400;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
}

button > svg {
    height: 16px;
    width: auto;
}

button:hover {
    opacity: 0.85;
}

.form-error {
    font-size: 0.9rem;
    color: rgb(230, 0, 20);
}