* {
    min-width: 0;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

.stagger {
  animation-delay: calc(var(--index) * 50ms);
}

.tooltip {
    --tt-bg: transparent;
    --color-neutral-content: #333;
}

body {
  background-color: white !important;
}