{{ define "check_list" }}
<div class="flex justify-between items-center w-full gap-1.5" hx-swap="outerHTML"
    hx-get="/monitors/{{ .Monitor.ID }}/checks" hx-trigger="every 10s">
    {{ $checkMaxIndex := sub (len $.Checks) 1 }}
    {{ range $i, $v := .Skeletons }}
    {{ $currentIndex := sub 59 $i }}
    {{ $check := "" }}
    {{ if lt $currentIndex (len $.Checks) }}
    {{ $check = index $.Checks $currentIndex }}
    {{ end }}
    <div id="{{ if $check }}monitors-{{ $check.MonitorID }}-checks-{{ $check.ID }}{{ else }}placeholder-{{ $i }}{{ end }}"
        class="h-[64px] rounded-full w-full {{ if $check }} {{ $check.ColorClass }} {{ else }}bg-neutral-200{{ end }}
        {{ if gt $i 39 }} {{ else if gt $i 20 }} hidden sm:block{{ else }} hidden md:block{{ end }}">
    </div>
    {{ end }}
</div>
{{ end }}