{{ define "title" }}Edit monitor{{end}}

{{ define "content" }}
<div class="mx-auto max-w-[1600px] w-full">
    <div class="md:flex md:items-center md:justify-center p-8 md:p-10">
        {{template "edit_form" . }}
    </div>
</div>
{{ end }}

{{ define "edit_form" }}
<form hx-patch="/monitors/{{ .Monitor.ID }}" hx-swap="outerHTML" class="flex flex-col gap-4 w-full max-w-md">
    <div>
        <h1 class="font-semibold text-lg">Edit monitor</h1>
    </div>
    <fieldset class="fieldset">
        <div class="join w-full flex">
            <div>
                <select class="select join-item" name="http_method">
                    <option {{ if eq .Form.HttpMethod "GET" }}selected{{ end }}>GET</option>
                    <option {{ if eq .Form.HttpMethod "POST" }}selected{{ end }}>POST</option>
                    <option {{ if eq .Form.HttpMethod "PATCH" }}selected{{ end }}>PATCH</option>
                    <option {{ if eq .Form.HttpMethod "PUT" }}selected{{ end }}>PUT</option>
                    <option {{ if eq .Form.HttpMethod "DELETE" }}selected{{ end }}>DELETE</option>
                </select>
            </div>
            <div class="flex-1 ">
                <input name="url" id="edit_form--url"
                    class="input join-item {{ with .Form.Errors.Url }} input-error {{ end }} w-full" required type="url"
                    placeholder="https://example.com" value="{{ .Form.Url }}" />
                {{ with .Form.Errors.Url }}
                <div class="label text-red-500">{{ . }}</div>
                {{ end }}
            </div>
        </div>
    </fieldset>
    <div class="card border border-base-200">
        <div class="card-body p-4">
            <div class="card-actions justify-start peer">
                <label class="label">
                    <input type="checkbox" class="toggle toggle-sm" name="has_custom_headers" {{ if
                        .Form.HasCustomHeaders }} checked {{ end }} />
                    Custom Headers
                </label>
            </div>
            <div class="hidden peer-has-checked:block">
                <textarea class="textarea bg-neutral text-neutral-content w-full textarea" placeholder="{}"
                    name="http_headers">{{ .Form.HttpHeaders }}</textarea>
                {{ with .Form.Errors.HttpHeaders }}
                <div class="label text-red-500">{{ . }}</div>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="card border border-base-200">
        <div class="card-body p-4">
            <div class="card-actions justify-start peer">
                <label class="label">
                    <input type="checkbox" class="toggle toggle-sm" name="has_custom_body" {{ if .Form.HasCustomBody }}
                        checked {{ end }} />
                    Custom Body
                </label>
            </div>
            <div class="hidden peer-has-checked:block">
                <textarea class="textarea bg-neutral text-neutral-content w-full textarea" placeholder="{}"
                    name="http_body">{{ .Form.HttpBody }}</textarea>
                {{ with .Form.Errors.HttpBody }}
                <div class="label text-red-500">{{ . }}</div>
                {{ end }}
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-neutral">
            Submit
        </button>
    </div>
</form>
{{ end }}