{{ define "title" }}Home{{ end }}

{{define "content"}}
<div class="flex flex-col-reverse lg:flex-row gap-4 justify-between max-w-[1600px] mx-auto px-4">
    <div class="flex-1">
        <div hx-get="/monitors" hx-trigger="intersect" hx-swap="outerHTML"></div>
    </div>

    <div class="min-w-[300px]! flex flex-col gap-4">
        <div hx-get="/incidents" hx-trigger="intersect" hx-swap="outerHTML"></div>

        {{ template "sponsors" . }}
    </div>
</div>
{{ end }}


{{ define "breadcrumbs" }}
<li class="">
    <a href="/" hx-boost preload>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="size-4! stroke-current">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
        </svg>
        Monitors
    </a>
</li>
{{ end }}