{{ define "incident_list" }}
<ul class="list card card-border {{ if .Incidents }} bg-neutral text-neutral-content {{ end }} bg-base-100 w-full w-full rounded-box"
    hx-get="/incidents" hx-trigger="every 60s" hx-swap="outerHTML">
    {{ if .Incidents }}
    <li class="p-4 pb-2 tracking-wide font-semibold">
        🚨 Open Incidents
    </li>

    {{ range .Incidents }}
    <a href="{{ .Monitor.URI }}" hx-boost preload>
        <li class="list-row w-full max-w-full block" id="incidents-{{ .ID }}">
            <div class="flex flex-col gap-1.5">
                <div class="flex gap-2 justify-between items-center">
                    <div aria-label="error" class="status status-error animate-ping"></div>
                    <div class="text-xs font-semibold truncate flex-1">
                        {{ .Monitor.Domain }}
                    </div>

                </div>
                <div class="flex gap-2 justify-between items-center">
                    <div class="max-w-full overflow-hidden text-xs opacity-80 text-right">
                        {{ .CreatedAt.Format "2006-01-02 15:04" }}
                    </div>
                    <div class="text-xs ">
                        <div class="badge badge-soft truncate max-w-full inline-block text-xs py-1 {{ .BadgeClass }}">
                            {{ .StatusCode }}
                        </div>
                    </div>
                </div>

            </div>
        </li>
    </a>
    {{ end }}
    {{ else }}
    <li class="p-4 pb-0 tracking-wide font-semibold">
        Open Incidents
    </li>
    <li class="p-4 tracking-wide opacity-60 text-xs">
        No incidents to report.
    </li>
    {{ end }}
</ul>
{{ end }}