{{ define "incident_list" }}
<ul class="list card card-border bg-base-100 w-full w-full rounded-box" hx-get="/incidents" hx-trigger="every 60s"
    hx-swap="outerHTML">
    {{ if .Incidents }}
    <li class="p-4 pb-2 tracking-wide font-semibold">
        🚨 Open Incidents
    </li>

    {{ range .Incidents }}
    <a href="{{ .URI }}" hx-boost preload>
        <li class="list-row w-full max-w-full block" id="incidents-{{ .ID }}">
            <div class="flex flex-col gap-1.5">
                <div class="flex gap-2 justify-between items-center">
                    <div aria-label="error" class="status status-error animate-ping"></div>
                    <div class="text-xs font-semibold opacity-60 truncate flex-1">
                        {{ .Monitor.Domain }}
                    </div>
                    <div class="text-xs opacity-60">
                        {{ .CreatedAt.Format "15:04" }}
                    </div>
                </div>
                <div class="max-w-full overflow-hidden">
                    <div class="badge badge-soft truncate max-w-full inline-block {{ .BadgeClass }}">{{ .StatusCode }}
                        {{
                        .StatusText }}</div>
                </div>
            </div>
        </li>
    </a>
    {{ end }}
    {{ else }}
    <li class="p-4 tracking-wide opacity-60">
        No incidents to report.
    </li>
    {{ end }}
</ul>
{{ end }}