{{ define "title" }}Log in{{end}}

{{ define "content" }}
{{template "login_form" . }}
{{ end }}

{{ define "login_form" }}
<form hx-post="/login" hx-swap="outerHTML">
    <div>
        <h1>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                style="height: 20px; width: auto;">
                <path fill-rule="evenodd"
                    d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z"
                    clip-rule="evenodd" />
            </svg>

            Log in
        </h1>
        <h5>
            Please fill in your credentials to proceed
        </h5>
    </div>
    <hr />
    <div class="form-field">
        <label for="login_form--email">E-mail</label>
        <input id="login_form--email" name="email" type="email" autocomplete="email" hx-preserve
            placeholder="email@example.com" />
        {{ with .Form.Errors.Email }}
        <div class="form-error">{{ . }}</div>
        {{ end }}
    </div>
    <div class="form-field">
        <label for="login_form--password">Password</label>
        <input id="login_form--password" name="password" type="password" autocomplete="current-password" hx-preserve
            placeholder="••••••••" />
        {{ with .Form.Errors.Password }}
        <div class="form-error">{{ . }}</div>
        {{ end }}
    </div>
    <button type="submit">
        Submit
    </button>
</form>
{{ end }}

{{ define "head" }}
<link rel="stylesheet" href="/static/css/auth.css?v=1" />
{{ end }}