{{ define "title" }}Create monitor{{end}}

{{ define "content" }}
<div class="md:flex md:items-center md:justify-center md:min-h-[calc(100vh-80px)] p-8">
    {{template "new_form" . }}
</div>
{{ end }}

{{ define "new_form" }}
<form hx-post="/monitors" hx-swap="outerHTML" class="flex flex-col gap-4">
    <div>
        <h1 class="font-semibold text-lg">Create monitor</h1>
        <h5 class="text-sm">
            The url you provide will be monitored every minute.
        </h5>
    </div>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">
            Website URL
        </legend>
        <input name="url" id="new_form--url" class="input {{ with .Form.Errors.Url }} input-error {{ end }} w-full"
            autofocus required type="url" placeholder="https://example.com" />
        {{ with .Form.Errors.Url }}
        <div class="form-error">{{ . }}</div>
        {{ end }}
    </fieldset>
    <div>
        <button type="submit" class="btn btn-neutral">
            Submit
        </button>
    </div>
</form>
{{ end }}