{{ define "body" }}
<h1>Setup</h1>
{{template "setup_form" . }}
{{ end }}

{{ define "setup_form" }}
<form hx-post="/setup" hx-swap="outerHTML">
    <input id="setup_form--name" name="name" autofocus hx-preserve />
    {{ with .Form.Errors.Name }}
    <p>{{ . }}</p>
    {{ end }}
    <input id="setup_form--email" name="email" type="email" hx-preserve />
    {{ with .Form.Errors.Email }}
    <p>{{ . }}</p>
    {{ end }}
    <input id="setup_form--password" name="password" type="password" hx-preserve />
    {{ with .Form.Errors.Password }}
    <p>{{ . }}</p>
    {{ end }}
    <button type="submit">
        Submit
    </button>
</form>
{{ end }}